.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 70px;
  border: 1px solid lightgray;

  .left {
    display: flex;
    align-items: center;
    gap: 30px;

    span {
      font-size: 20px;
      font-weight: bold;
      color: red;
    }
    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid lightgray;
      padding: 5px;
      border-radius: 5px;

      input {
        border: none;
        outline: none;
        width: 500px;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 20px;

    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      span {
      }
    }
  }
}
